<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{currOperation}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" ng-model="name" placeholder="BMW E360">
                    </div>
                    <div class="form-group">
                        <label for="name">Brand</label>
                        <input type="text" class="form-control" id="brand" ng-model="brand" placeholder="BMW">
                    </div>
                    <div class="form-group">
                        <label for="name">Price (Rp)</label>
                        <input type="text" class="form-control" id="price" ng-model="price" placeholder="1000000">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete confimation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="remove()">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-dark mb-2" data-toggle="modal" data-target="#modal" ng-click="showModal('Add')">
        <i class="bi bi-plus-circle"></i>
        Car
    </button>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="car in cars">
        <td>{{$index + 1}}</td>
        <td>{{car.id}}</td>
        <td>{{car.name}}</td>
        <td>{{car.brand}}</td>
        <td>{{car.price.currency + car.price.amount}}</td>
        <td>
            <a class="edit" data-toggle="modal" data-target="#modal" ng-click="update('Update', car)"><i class="bi bi-pencil-square" style="color: #FFC107"></i></a>
            <span class="delete" data-toggle="modal" data-target="#deleteModal" ng-click="updateDeleteId(car.id)"><i class="bi bi-trash" style="color: #F44336"></i></span>
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example" ng-init="currentPage = 1" ng-init="totalPage = 1">
    <ul class="pagination justify-content-end">
        <li class="page-item ng-class: currentPage == 1 ? 'disabled' : '';">
            <a class="page-link" ng-click="previousPage()">Previous</a>
        </li>
        <li ng-repeat="x in [].constructor(totalPage) track by $index" class="page-item ng-class: currentPage == $index + 1 ? 'disabled' : '';" ng-click="goToPage($index + 1)"><a class="page-link">{{$index+1}}</a></li>
        <li class="page-item ng-class: currentPage >= totalPage ? 'disabled' : '';">
            <a class="page-link" ng-click="nextPage()">Next</a>
        </li>
    </ul>
</nav>