<div class="btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-outline-dark active m-2">
        <input type="radio" checked autocomplete="off" ng-click="updateChart(1)">Jumlah Karyawan Laki-laki dan Perempuan
    </label>
    <label class="btn btn-outline-dark m-2">
        <input type="radio" autocomplete="off" ng-click="updateChart(2)">Jumlah Mobil yang dimiliki setiap Karyawan
    </label>
    <label class="btn btn-outline-dark m-2">
        <input type="radio" autocomplete="off" ng-click="updateChart(3)">Total Aset setiap Karyawan
    </label>
    <label class="btn btn-outline-dark m-2">
        <input type="radio" autocomplete="off" ng-click="updateChart(4)">Jumlah Karyawan setiap Perusahaan
    </label>
    <label class="btn btn-outline-dark m-2">
        <input type="radio" autocomplete="off" ng-click="updateChart(5)">Merk Mobil yang paling populer
    </label>
</div>
<div class="text-center ml-auto mr-auto mt-5" style="width: 80%">
    <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options"></canvas>
</div>
